In [1]:
%%writefile zoo.py

def hours():
    print("Open 9-5 daily")

Writing zoo.py

In [2]:
import zoo
zoo.hours()

Open 9-5 daily

In [4]:
import zoo as menagerie
menagerie.hours()

Open 9-5 daily

In [9]:
%%writefile books2.csv
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China MiÃ©ville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

Overwriting books2.csv

In [7]:
import sqlite3 as sq
db = sq.connect('books.db')
curs = db.cursor()
curs.execute('''create table book (title, author, year)''')
db.commit
db.close()

OperationalError: table book already exists

In [14]:
import csv
import sqlite3 as sq
db = sq.connect('books.db')
ins_str = 'insert into book values(?, ?, ?)'
curs = db.cursor()
with open('books2.csv','rt')as infile:
    books = csv.DictReader(infile)
    for book in books:
        curs.execute(ins_str, (book['title'], book['author'], book['year']))
db.commit()
db.close()

In [15]:
import sqlalchemy as sqla
from sqlalchemy import text

# Create engine
conn = sqla.create_engine('sqlite:///books.db')

# Create a connection from the engine
with conn.connect() as connection:
    # Execute SQL query using the connection
    # Use text() to convert the SQL string to an executable object
    sql = text('select title from book order by title asc')
    rows = connection.execute(sql)
    
    # Iterate through results
    for row in rows:
        print(row)

('Perdido Street Station',)
('Small Gods',)
('The Spellman Files',)
('The Weirdstone of Brisingamen',)
('Thud!',)